/* style.css */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0d0d0d; /* Fundo escuro */
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.face {
    width: 200px;
    height: 200px;
    background: linear-gradient(145deg, #1e3c72, #2a5298); /* Azul refletivo */
    border: 5px solid #00f; /* Borda azul refletiva */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 0 20px rgba(0, 0, 255, 0.5);
    overflow: hidden; /* Para fazer os elementos dentro ficarem contidos */
}

.eye {
    width: 40px;
    height: 40px;
    background-color: #000; /* Fundo preto para dar efeito de tela */
    border-radius: 50%;
    position: absolute;
    overflow: hidden;
}

.left-eye {
    left: 40px;
}

.right-eye {
    right: 40px;
}

.eye::before {
    content: '';
    width: 16px;
    height: 16px;
    background-color: #00f; /* Olhos azuis em LED */
    border-radius: 50%;
    position: absolute;
    top: 12px;
    left: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.8);
    animation: blink-animation 0.2s steps(1) infinite;
}

.eye.blink::before {
    width: 0;
    height: 0;
}

@keyframes blink-animation {
    0%, 90% { height: 16px; }
    95%, 100% { height: 0; }
}
